:root {
  --chakra-colors-chakra-body-bg-dark: #333;
  --chakra-colors-chakra-body-bg-light: #fff;
}

body {
  transition: all 300ms ease;
}

body.chakra-ui-dark {
  background-color: var(
    --chakra-colors-chakra-body-bg-dark
  ) !important;
}

body.chakra-ui-light {
  background-color: var(
    --chakra-colors-chakra-body-bg-light
  ) !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
